<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/config/server.log"
					 filePattern="${sys:user.home}/logs/config/server-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="500MB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.mycat.advisor" level="DEBUG"/>
		<Root level="INFO">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFileInfo"/>
		</Root>
	</Loggers>
</Configuration>