<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.apache.mycat.advisor.persistence.dao.SysAuthoritiesMapper">

    <select id="findSysAuthoritiesByUsername" resultType="org.apache.mycat.advisor.persistence.model.SysAuthorities">
<![CDATA[
      SELECT * FROM SYS_AUTHORITIES WHERE AUTHORITY_ID IN(
                SELECT DISTINCT AUTHORITY_ID FROM SYS_ROLES_AUTHORITIES  S1
                JOIN SYS_USERS_ROLES S2 ON S1.ROLE_ID = S2.ROLE_ID
                JOIN SYS_USERS S3 ON S3.USER_ID = S2.USER_ID AND S3.USERNAME= #{username})
    ]]>
    </select>

</mapper>