<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.mycat.advisor.persistence.dao.TabAdviserScoreMapper" >
  <resultMap id="BaseResultMap" type="org.apache.mycat.advisor.persistence.model.TabAdviserScore" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="advisor_id" property="advisorId" jdbcType="BIGINT" />
    <result column="problem_id" property="problemId" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, advisor_id, problem_id, score, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tab_adviser_score
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tab_adviser_score
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.apache.mycat.advisor.persistence.model.TabAdviserScore" >
    insert into tab_adviser_score (id, advisor_id, problem_id, 
      score, status)
    values (#{id,jdbcType=BIGINT}, #{advisorId,jdbcType=BIGINT}, #{problemId,jdbcType=BIGINT}, 
      #{score,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.apache.mycat.advisor.persistence.model.TabAdviserScore" >
    insert into tab_adviser_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="advisorId != null" >
        advisor_id,
      </if>
      <if test="problemId != null" >
        problem_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="advisorId != null" >
        #{advisorId,jdbcType=BIGINT},
      </if>
      <if test="problemId != null" >
        #{problemId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.apache.mycat.advisor.persistence.model.TabAdviserScore" >
    update tab_adviser_score
    <set >
      <if test="advisorId != null" >
        advisor_id = #{advisorId,jdbcType=BIGINT},
      </if>
      <if test="problemId != null" >
        problem_id = #{problemId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.apache.mycat.advisor.persistence.model.TabAdviserScore" >
    update tab_adviser_score
    set advisor_id = #{advisorId,jdbcType=BIGINT},
      problem_id = #{problemId,jdbcType=BIGINT},
      score = #{score,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>