<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.mycat.advisor.persistence.dao.TabMenuMapper" >
  <resultMap id="BaseResultMap" type="org.apache.mycat.advisor.persistence.model.TabMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_title" property="menuTitle" jdbcType="VARCHAR" />
    <result column="data_url" property="dataUrl" jdbcType="VARCHAR" />
    <result column="tpl_url" property="tplUrl" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_title, data_url, tpl_url, icon, insert_time, update_time, status, del_flag, 
    parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tab_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tab_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.apache.mycat.advisor.persistence.model.TabMenu" >
    insert into tab_menu (id, menu_title, data_url, 
      tpl_url, icon, insert_time, 
      update_time, status, del_flag, 
      parent_id)
    values (#{id,jdbcType=BIGINT}, #{menuTitle,jdbcType=VARCHAR}, #{dataUrl,jdbcType=VARCHAR}, 
      #{tplUrl,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER}, 
      #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.apache.mycat.advisor.persistence.model.TabMenu" >
    insert into tab_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuTitle != null" >
        menu_title,
      </if>
      <if test="dataUrl != null" >
        data_url,
      </if>
      <if test="tplUrl != null" >
        tpl_url,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="menuTitle != null" >
        #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="dataUrl != null" >
        #{dataUrl,jdbcType=VARCHAR},
      </if>
      <if test="tplUrl != null" >
        #{tplUrl,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.apache.mycat.advisor.persistence.model.TabMenu" >
    update tab_menu
    <set >
      <if test="menuTitle != null" >
        menu_title = #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="dataUrl != null" >
        data_url = #{dataUrl,jdbcType=VARCHAR},
      </if>
      <if test="tplUrl != null" >
        tpl_url = #{tplUrl,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.apache.mycat.advisor.persistence.model.TabMenu" >
    update tab_menu
    set menu_title = #{menuTitle,jdbcType=VARCHAR},
      data_url = #{dataUrl,jdbcType=VARCHAR},
      tpl_url = #{tplUrl,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>