/*重置首页头部样式*/
.index_middel h1.center_number{
	line-height: 1.8;
	margin-top: 0;
}
.index_middel h5{
	text-align: center;
	color: #fafafa;
	font-size: 15px;
	line-height: 1.4;
	padding-bottom: 20px;
	margin-bottom: -1px;
}
body,.mui-bar-nav~.mui-content{
	background-color: #ffffff;
}
.capital-accounts{
	width: auto;
	height: auto;
	border: 1px dotted #39c5d4;
	border-radius: 5px;
	margin: 10px;
	padding: 14px;
}
.capital-accounts i.iconfont{
	display: inline-block;
	line-height: 1;
	font-size: 50px;
	color: #00aaef;
}
.capital-accounts div.d_flex {
	margin: 0 5px;
}
.capital-accounts div.d_flex p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 8px;
	color: #bebebe;
	font-size: 15px;
}
.capital-accounts div.d_flex p:last-child{
	margin-bottom: 0;
}
.capital-accounts div.d_flex p label{
	color: #6A6A6A;
}
.capital-accounts div.d_flex h2{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	color: #848484;
}
.capital-accounts .change-accounts{
	display: block;
	min-width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	white-space: nowrap;
	color: #39c5d4;
	border: 1px solid #39c5d4;
	border-radius: 5px;
	margin: 2px 2px 0 0;
	font-size: 15px;
}
.capital-cash{
	width: 100%;
	height: auto;
	padding: 0 10%;
	margin-top: 20px;
}
.capital-cash h5{
	font-size: 17px;
	color: #39c5d4;
	line-height: 2;
	text-align: center;
	margin-bottom: 15px;
}
.capital-cash input[type='text']{
	font-size: 30px;
	color: #39c5d4;
	background-color: #fff;
	position: relative;
	text-align: center;
	height: 45px;
	padding: 0px 15px;
}
.capital-cash input[type='number']{
	font-size: 30px;
	color: #39c5d4;
	background-color: #fff;
	position: relative;
	text-align: center;
	height: 45px;
	padding: 0px 15px;
}
/*重置placeholder的颜色*/
input::-webkit-input-placeholder{
	color: #6A6A6A;
}
.mui-input-row{
	overflow: initial;
}
.mui-input-row label{
	position: absolute;
	color: #6a6a6a;
	width: auto;
	height: auto;
	padding: 0;
	top: 11px;
	right: -15px;
}
/*重置 自定义按钮样式*/
.mui-btn-block{
	padding: 8px 0;
	font-size: 17px;
	background-color: #c0bfbf;
	border-color: #c0bfbf;
	color: #FFFFFF;
}
.mui-btn-block:active{
	background-color: #ababab;
	border-color: #ababab;
}
.mui-btn-cash{
	background-color: #39c5d4;
	border-color: #39c5d4;
	color: #ffffff;
}
.mui-btn-cash:active{
	background-color: #2ab9c8 !important;
	border-color: #2ab9c8;
}
.mui-content-padded{
	margin: 30px 10px;
}
h4.cash-msg{
	font-size: 15px;
	font-weight: normal;
	color: #6a6a6a;
	padding-left: 10px;
	line-height: 40px;
	border-bottom: 1px solid #e1e1e1;
}
.cash-msg-desc{
	width: auto;
	height: auto;
	padding: 0 10px 0 25px;
}
.cash-msg-desc ul{
	margin: 10px 0;
	padding: 0;
}
.cash-msg-desc ul li{
	font-size: 12px;
	color: #bebebe;
	line-height: 1.5;
	margin-bottom: 10px;
}
.cash-msg-desc ul li mark{
	background-color: #ffffff;
	color: #f5c87a;
}
