/*重构mui默认样式*/
html,body,.mui-content{
	background-color: #FFFFFF;
}
* {
    box-sizing:border-box;
}
.mui-input-group::after{
	background-color: #ffffff;
}
/*第一步*/
.mui-num{
	 padding:5px 9px;
	 font-size:16px;
	 margin:0 5px;
}
.mui-content{
	background: #fff;
}
 
.Forgot-muiP> a{
	display: block;
	font-size:14px;
	color:#9B9B9B;	
	padding:10px 0;
	position: absolute;
	 
	margin-left: -10px;
	z-index: 2;
	 
}
.Forgot-content{
	width:70%;
	margin: 50px auto 0;
	text-align: center;
}
.Forgot-muiP> a.Forgot-miua{
	color:#48d2e1;
}
.mui-input-group .mui-input-row{
	height:70px;
}
.mui-input-row label~input{
	width: 72%;
    margin-top:25px;
    font-size:14px;
}
.mui-input-row label{
	line-height:5;
	width:28%;
	padding:10px 0 10px 0;
	color:#ccc;
	font-size:14px;
}
.mui-input-row label.active{
	color:#48d2e1;
}
.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-speech~.mui-icon-speech{
	top:34px;
	left:190px;
}
.Forgot-set{
	border-radius:5px;
	display: block;
	max-width:120px;
	min-width: 80px;
	width:auto;
	padding:0 5px;
	font-size:12px;
	height:35px;
	line-height: 33px;
	position:absolute;
	right: 0px;
	top:35%;
	color:#ccc;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #ccc;
}
.Forgot-set-on {
	background-color: #48d2e1;
    color: #fff;
    border: 1px solid #48d2e1;
}
.mui-input-group:before{
	height: 0;
}
.Forgot-btn{
	background:#c0bfbf;
	color: #fff;
	line-height: 2.3;
	display: block;
	margin:30px auto;
	width:98%;
}
.Forgot-btn-on {
	background-color: #48d2e1;
	border-color: #48d2e1;
}
 .Forgot-btn-on:active{
 	background-color: #39c4d3;
	border-color: #39c4d3;
 }
.mui-input-group .mui-button-row{
	height: auto;
}
.mui-input-group .mui-input-row:after{
	left: 0;
}
/*第二步*/

#password .mui-icon-clear{
	right:10px;
	left: auto; 
}
/*第三步*/
.Password_P{
	text-align: center;
	width: 100%;
	margin:20px 0;
}
.Password_h2{
	font-size:18px;
	color: #999999;
	text-align: center;
}
.Password_h4{
	font-size:14px;
	color: #b9b8b8;
	text-align: center;
	line-height:3;
	padding-bottom:30px;
}

/*   重构设置密码样式   */
.inputRowDiv{ margin-bottom: 25px;}
.inputRowDiv .mui-input-row,.inputRowDiv.mui-input-row{ height: 40px; line-height: 40px;}
.inputRowDiv .mui-input-row input{ font-size: 16px;


}
.inputRowDiv .mui-input-row span.mui-icon-clear{ top: 10px; left:inherit; right: 5px;}
.inputRowDiv label.active{color: #48d2e1; font-size: 14px; line-height: 40px;}