.login-back{
	background:url("../images/login-back.png") center;
	background-size: 100% 100%;
	position:absolute;
	width: 100%;
	height:100%;	 
	z-index: -1;
}
.mui-content{
  background-color:initial;	
}
.login-logo{
	position: relative;
	text-align: center;
    padding-top: 10%;    
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
  	-webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
}
.login-logo.form-success {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.login-logo .login-Imag{
	display: block;
	width:120px;
    height:120px;
    text-align: center;
    border-radius:999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
	border:5px solid #61deeb;
	margin:0 auto 0;
	background: #fff;
	background-clip: padding-box;
	/*background: #fff url(../images/index_logo.png) center center no-repeat;
	background-size:60%;*/
	overflow: hidden;
}

.login-logo .login-Imag img{
	vertical-align: middle;
}
.login-logo .login-Imag span{
	height: 100%;
	width: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
.login-logo .login-Msg{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #ffffff;
	bottom: -80px;
	opacity: 0;
	-webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
  	-webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
}
.login-logo .login-Msg.msgUp {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.login-logo .login-Msg h4{
	font-size: 14px;
}
.login-logo .login-name{
	font-size:22px;
	color:#fff;
	line-height:3;
	font-weight: normal;
}
.mui-input-group .login-row,.login-row{
	height: 60px;
	background:#d1fbff;
	border-radius: 30px;
	border:0;
 
	text-align: center;
	width: 90%;
	margin:20px auto;
}
.mui-input-group .login-row input{
	text-align: center;
	height:60px;
	border-radius: 30px;
}
.mui-input-group .login-row input:focus{
	border-radius: 30px;
	outline: none;
}
.login-row button{
	width: 100%;
	height: 100%;
	display:block;
	background:#60d7e3;
	border-radius:30px; 
	border:1px solid #3dbdcc;
}
.clickBut:active{
	background-color: #2ab9c8 !important;
}
.mui-input-group .login-row:after,.mui-input-group:before,.mui-input-group:after{
	background:none;
 
}
.mui-input-group{
	background-color:initial;
}
.login-phone .icon{
	font-size:25px;
}
.login-phone{
	color: #fff;
	text-align: center;
	line-height:2;
}
.login-row button:active{
	background-color: #2ab9c8 !important;
	border-color: #2ab9c8 !important;
}
.login-footer{
	text-align: right;
	padding-right: 5%;
	font-size: 14px;
	text-decoration: underline;
}
.login-footer a{
	color: #fff;
}
@media only screen and (max-width:500px ) {
	.mui-input-group .login-row, .login-row{
		height: 50px;
	}
	.mui-input-group .login-row input{
		height: 50px;
	}
}
@media only screen and (max-width:450px ) {
	.mui-input-group .login-row, .login-row{
		height: 45px;
		margin: 15px auto;
	}
	.mui-input-group .login-row input{
		height: 45px;
		font-size: 15px;
	}
	.login-logo{
		padding-top: 10%;
	}
	.login-logo .login-name{
		font-size: 17px;
		line-height: 2.5;
	}
	.login-phone{
		font-size: 14px;
	}
	.login-phone .icon{
		font-size: 20px;
	}
}