<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="#">
            <div class="profile-pic">
                <img src="{{profileInfo.photo}}" alt="">
            </div>
            <div class="profile-info">
                {{profileInfo.hello}}
                <i class="zmdi zmdi-arrow-drop-down"></i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a data-target="profile/password" href="#_data/profile/password.json?tpl=profile/password"><i class="zmdi zmdi-settings"></i> 修改密码</a>
            </li>
            <li>
                <a data-action="logout" href="#"><i class="zmdi zmdi-time-restore"></i> 退出</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li><a href="#"><i class="zmdi zmdi-home"></i> 主页</a></li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 用户管理</a>
            <ul>
                <li><a data-target="um/post/index" href="#um/post/list?tpl=um/post/index">用户职位</a></li>
                <li><a data-target="um/company/index" href="#um/company/list?tpl=um/company/index">公司信息</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">用户类型</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">用户信息</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">用户登录记录</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">用户关注顾问</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">用户关注类型</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">用户收藏</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 会员</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">会员信息</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">会员购买记录</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 流程管理</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">出差流程</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">订单流程</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 系统审批</a>
            <ul>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">审核人</a></li>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">审核记录</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">审核模板</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 问题管理</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">问题类型</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">技术类型</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">问题集</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 订单管理</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">订单类型</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">订单信息</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 支付管理</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">支付流水</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">支付渠道</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 权限管理</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">系统资源</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">系统权限</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">系统模块</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">角色管理</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#"><i class="zmdi zmdi-widgets"></i> 系统管理</a>
            <ul>
                <li><a data-target="bgd/post/index" href="#user/post/list?tpl=bgd/post/index">敏感词管理</a></li>
                <li><a data-target="widget/demo" href="#_data/success.json?tpl=widget/demo">参数配置</a></li>
            </ul>
        </li>
    </ul>
</div>
