<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title></title>
	<link href="../../css/mui.min.css" rel="stylesheet"/>
    <link href="../../css/iconfont.css" rel="stylesheet" />
    <link href="../../css/base.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/order_list.css" />
	<link rel="stylesheet" href="../../css/loading.css" />
</head>
	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title"></h1>
			<div class="mui-loader">
				<div class="loadingPage">
					<div class="icon_box">
						<div class="cirBox1">
							<div class="cir1"></div>
							<div class="cir2"></div>
							<div class="cir3"></div>
							<div class="cir4"></div>
						</div>
						<div class="cirBox2">
							<div class="cir1"></div>
							<div class="cir2"></div>
							<div class="cir3"></div>
							<div class="cir4"></div>
						</div>
						<div class="cirBox3">
							<div class="cir1"></div>
							<div class="cir2"></div>
							<div class="cir3"></div>
							<div class="cir4"></div>
						</div>
					</div>
				</div>
				加载中...
			</div>
		</header>
		<div class="mui-content" >
			
			
			<div class="loading2" style="width:auto; height: auto; text-align: center; position: relative; top: 50%;">
				<p style="display:inline-block; width: 100px;height: 100px; text-align: center; background: url(../../images/11.gif) center center no-repeat; background-size:50%;"></p>
				<p>加载中...</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../mui/js/mui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		//启用双击监听
		mui.init();
		
		if (mui.os.android) {
			var list = document.querySelectorAll('.ios-only');
			if (list) {
				for (var i = 0; i < list.length; i++) {
					list[i].style.display = 'none';
				}
			}
			//Android平台暂时使用slide-in-right动画
			if(parseFloat(mui.os.version)<4.4){
				aniShow = "slide-in-right";
			}
		}
		//内容
		var contentWebview = null;
		//当前窗口
		var self = null;
		mui.plusReady(function () {
			self = plus.webview.currentWebview();
		});	
//		//返回
//		mui.back = function() {
//	        self.hide('auto');
//	        setTimeout(function() {
//	            titleElem.className = 'mui-title mui-fadeout';
//	            titleElem.innerText = '';
//	            if(contentWebview==null){
//	                contentWebview = current.children()[0];
//	            }
//	            contentWebview.hide("none");
//	        }, 350);
//	    }
		
		//头部文字 不同子页面自行传入
		var titleElem = document.getElementById("title");
		
		//注册监听事件 自定义updateHeader事件
		window.addEventListener("updateHeader", function(e) {
			//自定义事件带参
			var title = e.detail.title;
			//加载内容页面路径
			var href = e.detail.target;
			var aniShow = e.detail.aniShow;//页面载人动画效果，原生效果效率高
			//修改title文字
			titleElem.innerHTML = title;
			
			if(mui.os.android&&aniShow&&parseFloat(mui.os.version)>=4.4){
				if(contentWebview==null){
					contentWebview = self.children()[0];
				}
				
				if (contentWebview.getURL() != href) {
					//预加载
					contentWebview.loadURL(href);
				} else {
					//直接显示
					contentWebview.show();
				}
				setTimeout(function () {
					self.show(aniShow);
				},10);
			}
		});
		
		
	</script>
</html>