@charset "utf-8";

@media (min-width: 1199px) {
    body.sw-toggled .breadcrumb {
        padding: 10px 33px 11px;
    }
}

.form-horizontal .form-group {
    margin-bottom: 0;
}

.table-ellipsis {
    table-layout: fixed;
}

.table-ellipsis td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}