<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.mycat.advisor.persistence.dao.usercenter.UserInfoMapper">
<select id="selectById" resultType="UserInfo">
    SELECT * from user_info WHERE id=#{id}
</select>
</mapper>