<div class="modal-header">
    <h4 class="modal-title">{{if id == null }}新增{{else}}修改{{/if}}</h4>
</div>
<form class="form-horizontal form-validate" id="doorSaveForm" method="post" action="um/post/save">
    <input name="id" type="hidden" value="{{id}}">
    {{if id != null }}
    <input name="insertTime" type="hidden" value="{{insertTime | dateFormat}}">
    {{/if}}
    <input name="status" type="hidden" value="{{status}}">
    <input name="delFlag" type="hidden" value="{{delFlag}}">
    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">-->
    <div class="modal-body">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">职位名称</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm validate[required,maxSize[16]]" id="name" name="name"
                           placeholder="职位名称" value="{{name}}">
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-4 control-label">编码</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm validate[required,maxSize[16]]" id="code" name="code"
                           placeholder="编码" value="{{code}}">
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-sm-4 control-label">备注</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm validate[required,maxSize[16]]" id="note" name="note"
                           placeholder="备注" value="{{note}}">
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save">{{lang.btn.save}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{lang.btn.close}}</button>
    </div>
</form>
